---
import { getMessages } from '../i18n/messages';
import { getLocaleFromPathname, localizePath } from '../i18n/utils';
import { getIdentityPath } from '../seo/identity';

const today = new Date();
const locale = getLocaleFromPathname(Astro.url.pathname);
const messages = getMessages(locale);
---

<footer class="site-footer">
	<div class="site-footer-inner">
		<div>
			<p class="site-footer-title">{messages.site.title}</p>
			<p class="site-footer-description">{messages.footer.description}</p>
		</div>
		<div class="site-footer-meta">
			<a href={localizePath(locale, '/blog')}>{messages.footer.blog}</a>
			<a href={getIdentityPath(locale)}>{messages.footer.about}</a>
		</div>
		<p class="site-footer-copyright">
			&copy; {today.getFullYear()} {messages.site.title} · {messages.footer.copyrightLabel}
		</p>
	</div>
</footer>
